Flask==3.1.1
pandas==2.3.1
numpy
matplotlib
torch==2.8.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers==5.1.0
duckdb
PyPDF2
pillow
requests
beautifulsoup4
tiktoken
scikit-learn
seaborn
gunicorn
